

    <div class="btn-group" role="group" aria-label="...">
      <button class="btn btn-default" (click)="addToDo()" >Add task</button>
      <button class="btn btn-default" (click)="clearCompleted()" >Clear completed</button>
      <button class="btn btn-default" (click)="showInProgres()" >Show {{filterShowCompletedOnly ? 'All' : 'In progress'}} </button>
    </div>

    <div class='todoItems' *ngIf='myTasks && myTasks.length'>
    <div *ngFor= 'let todo of myTasks'>
    <div class="row"  *ngIf='todo.IsComplete == false || todo.IsComplete != filterShowCompletedOnly'>
    <div class="col-lg-12" >
      <div class="input-group">
        <span class="input-group-addon">
          <input data-toggle="tooltip" type="checkbox" aria-label="..." [(ngModel)] = todo.IsComplete (change) = "updateTask(todo.Id)">
        </span>
        <input type="text" class="form-control"  [ngClass]="{ strikethrough: todo.IsComplete }" aria-label="..." [(ngModel)] = todo.Comment (focusout) = "updateTask(todo.Id)" >
        <span class="input-group-addon" (click) = "deleteEntry(todo.Id)">
          
            <i class="glyphicon glyphicon-remove"></i>
            <span class="badge js-notifications-count hide"></span>
     
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</div>
</div>